body {
    margin: 0 !important;
}

html, body {
  overflow: hidden;
}

.nav_bar_menu {
    position: relative;
    z-index: 1; /* Increase the z-index value */
}

.banner {
    position: relative;
    width: 100%;
    height: 701px;
    overflow: hidden;
    z-index: 0; /* Lower z-index value compared to the dropdown menu */
}

.transparent_slide {
    position: relative;
    width: 1918px;
    height: 300px;
    z-index: 12;
    opacity: 0.7;
    transform: scale(1);
}

.container-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4; /* Lower z-index for the image */
}

.rs-layer {
    position: absolute;
    z-index: 10;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: normal;
    width: 848px;
    height: fit-content;
    text-align: inherit;
    transform-style: preserve-3d;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    transform: perspective(600px);
    opacity: 1;
    visibility: visible;
    white-space: nowrap!important;
    margin-left: 36vw;
}

.rs_splitted_chars {
    z-index: 12;
    position: relative;
    display: inline-block;
    font-family: "Roboto Condensed";
    font-size: 63px;
    letter-spacing: 0px;
    font-weight: 700;
}

.rs_lines {
    line-height: 1;
}

.rs_splitted_chars::before {
    animation-delay: 0s;
}

.rs_lines::before {
    animation-delay: 2.5s;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(36vw);
    }
}
