<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/DawaSport_Logo_3.png">
    <meta name="keywords" content="bootstrap, bootstrap4"/>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style_home_navbar.css" th:href="@{/css/logoutBtn.css}">
    <link href="/css/style_general_body_and_footer.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.all.min.js"></script>
    <script rel="stylesheet" type="module" th:src="@{/js/firebase-config.js}"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.5.2/firebase-app.js"></script>
    <title>DawaSport</title>
</head>

<body>

<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="DawaSport navigation bar">

    <div class="container">
        <a class="navbar-brand" id="Logo" href="/">DawaWearings<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsDawaSport"
                aria-controls="navbarsDawaSport" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsDawaSport">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0" style="margin-left: auto!important;">
                <li class="nav-item active">
                    <a class="nav-link" id="Home" href="/">Home</a>
                </li>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // Kiểm tra xem localStorage("user") có tồn tại không
                        var user = localStorage.getItem('user');
                        var homeLink = document.getElementById('Home');
                        var logoLink = document.getElementById('Logo');

                        if (user) {
                            // Nếu có tồn tại, điều hướng đến "/user/home"
                            homeLink.href = "/user/home";
                            logoLink.href = "/user/home";
                        } else {
                            // Nếu không tồn tại, điều hướng đến "/home"
                            homeLink.href = "/home";
                            logoLink.href = "/home";
                        }
                    });
                </script>
                <li><a class="nav-link" href="/about">About us</a></li>
                <li><a class="nav-link" href="/service">Services</a></li>
                <li><a class="nav-link" href="/blog">Blog</a></li>
                <li><a class="nav-link" href="/contact">Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li>
                    <div class="dropdown"  id="dropdownBox" style="display: none;">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden"  id="customerName"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="#">....</a></li>
                            <li><a class="dropdown-item" href="#">....</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li style="text-align: center">
                                <a id="logOut" class="logout-btn">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </a>
                            </li>

                        </ul>
                    </div>

                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const dropdownBox = document.getElementById('dropdownBox');
                            const customerName = document.getElementById('customerName');

                            // Kiểm tra xem localStorage('user') có rỗng không
                            const userJSON = localStorage.getItem('user');

                            if (userJSON) {
                                const userObject = JSON.parse(userJSON);

                                // Hiển thị dropdownBox và đặt dữ liệu vào customerName
                                dropdownBox.style.display = 'block';
                                customerName.textContent = userObject.name;
                            } else {
                                // Nếu localStorage('user') rỗng, ẩn dropdownBox
                                dropdownBox.style.display = 'none';
                            }
                        });
                    </script>
                </li>
                <li><a class="nav-link" href="/user/cart"><img src="/images/cart.svg" alt="cart"></a></li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Elevate Your Workout Style</h1>
                    <p class="mb-4">Revolutionize your fitness journey with DawaWearings – where style meets performance for the ultimate workout experience.</p>
                    <p>
                        <a href="#product-section" class="btn btn-secondary me-2 shop-now-btn">Explore Gym Apparel</a>
                        <!-- Add a button or link to shop or explore more -->
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hero-img-wrap" style="max-width: 280px !important;">
                    <img src="/images/gym-apparel-1.jpg" class="img-fluid" style="max-width: 280px !important;">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hero-img-wrap" >
                    <img src="/images/gym-apparel-2.jpg" class="img-fluid" style="max-width: 280px !important;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section" style="padding-bottom: 250px !important;">
    <div class="container" >
        <div class="row">
            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="/shoes/filter">
                            <!-- Search by product name -->
                            <div class="mb-3">
                                <input type="text" class="form-control" id="productName" name="productName" placeholder="Enter product name" th:value="${productName}">
                            </div>

                            <!-- Price range -->
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" inputmode="numeric" pattern="[0-9]*" class="form-control" id="minPrice" name="minPrice" placeholder="Min" title="Please enter a valid number" th:value="${minPrice}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">$</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" inputmode="numeric" pattern="[0-9]*" class="form-control" id="maxPrice" name="maxPrice" placeholder="Max" title="Please enter a valid number" th:value="${maxPrice}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">$</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Sort by price -->
                            <div class="mb-3">
                                <label for="sortByPrice">Sort by Price:</label>
                                <select class="form-control" id="sortByPrice" name="sortByPrice" th:value="${sortByPrice}">
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>

                            <!-- Filter by brand -->
                            <div class="mb-3">
                                <label for="brandList">Brand:</label>
                                <select class="form-control" id="brandList" name="brandList" multiple th:selected="${brandList}">
                                    <option th:each="brand : ${brands}" th:value="${brand}" th:text="${brand}"></option>
                                </select>
                            </div>

                            <!-- Apply button -->
                            <button class="btn btn-primary">Apply Filters</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" th:each="product : ${products}">
                <a class="product-item">
                    <img th:src="${product.url}" class="img-fluid product-thumbnail">
                    <h3 class="product-title" th:text="${product.brand + ' - ' + product.name}" > </h3>
                    <strong class="product-price" th:text="${'Price: $' + product.price}" > </strong>

                    <span class="icon-cross" id="btnAdd">
                        <img src="/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>

            <!-- Xu ly su kien add -->
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Lấy tất cả các nút thêm
                    const addButtons = document.querySelectorAll('.btnAdd');

                    // Thêm sự kiện nghe cho mỗi nút thêm
                    addButtons.forEach(function (button) {
                        button.addEventListener('click', function () {
                            // Lấy thông tin sản phẩm từ thuộc tính data
                            const brand = button.dataset.productBrand;
                            const name = button.dataset.productName;
                            const price = button.dataset.productPrice;

                            // Thực hiện bất kỳ hành động nào bạn muốn với thông tin sản phẩm
                            console.log('Product Brand:', brand);
                            console.log('Product Name:', name);
                            console.log('Product Price:', price);

                            // Đây là nơi bạn có thể thực hiện thêm sản phẩm vào giỏ hàng hoặc bất kỳ hành động nào khác.
                        });
                    });
                });
            </script>
        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">

        <div class="sofa-img" style="right: -185px; top:-320px">
            <img style="width: 780px !important; max-width: 100% !important;" src="/images/shoes_showcase.png" alt="Image" class="img-fluid">
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center">
                        <span class="me-1">
                            <img src="/images/envelope-outline.svg" alt="Image" class="img-fluid">
                        </span>
                        <span>Subscribe to Newsletter</span>
                    </h3>

                    <form action="#" class="row g-3">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap" style="margin-bottom: 0 !important;">
                    <a href="#" class="footer-logo">DawaSport<span>.</span></a>
                </div>
                <p class="mb-4">Discover a world of sports excellence at DawaSport – your ultimate destination for
                    premium athletic gear and equipment. Whether you're a seasoned athlete or just starting your fitness
                    journey, we've got everything you need to conquer your goals!</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Our team</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="/shoes">Shoes</a></li>
                            <li><a href="/clothes">Athletic Wear</a></li>
                            <li><a href="/accessories">Sports Accessories</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        . All Rights Reserved. &mdash; Designed with love by <a>DawaFit.co</a>
                        Distributed By <a>DawaSport</a>
                    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                        <li class="me-4"><a>&nbsp;&nbsp;&nbsp;</a></li>
                        <li><a href="#">&nbsp;Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->
</body>

<script rel="stylesheet" type="module" th:src="@{/js/js_product-clothes.js}"></script>

</html>