<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="assetsforstaff/css/style.css">
    <script src="assetsforstaff/js/main.js"></script>
    <script rel="stylesheet" type="module" th:src="@{assetsforstaff/js/newproduct.js}"></script>
    <script rel="stylesheet" type="module" th:src="@{/js/firebase-config.js}"></script>
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="shirt-outline"></ion-icon>
                        </span>
                        <span class="title">Dawa Sport</span>
                    </a>
                </li>

                <li>
                    <a href="/staff-main" th:href="@{/staff-main}">
                        <span class="icon">
                            <ion-icon name="bag-remove-outline"></ion-icon>
                        </span>
                        <span class="title">Product</span>
                    </a>
                </li>

                <li>
                    <a href="/staff-customer" th:href="@{/staff-customer}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Customers</span>
                    </a>
                </li>
                <li>
                    <a href="/login" th:href="@{/login}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

            </div>
            <!-- ======================= Cards ================== -->
            <div class="cardBox">

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Order</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">$7,842</div>
                        <div class="cardName">Earning</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">200</div>
                        <div class="cardName">Customer</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Product Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Product</h2>
                    </div>

                    <form class="form-add">
                        <label for="pType">Product Type</label>
                        <select type="text" id="pType" name="pType">
                            <option value="Shoes">Shoes</option>
                            <option value="Clother">Clother</option>
                            <option value="Accessory">Accessory</option>
                        </select>
                        <label for="pName">Product Name</label>
                        <input type="text" name="pName" class="form-control" id="pName" required
                               pattern="^[а-яА-ЯёЁa-zA-Z0-9_ ]+$">
                        <label for="pBrand">Product Brand</label>
                        <input type="text" name="pBrand" class="form-control" id="pBrand" required
                               pattern="^[а-яА-ЯёЁa-zA-Z0-9_ ]+$">
                        <label for="pPrice">Product Price</label>
                        <input type="text" name="pPrice" class="form-control" id="pPrice" required
                               pattern="^[0-9]+([.])?[0-9]*([0-9]+)?$" title="number 0-9 '.'">
                        <label for="pPrice">Product Quantity</label>
                        <input type="text" name="pQuantity" class="form-control" id="pQuantity" required
                               pattern="^[0-9]+([.])?[0-9]*([0-9]+)?$" title="number 0-9 '.'">
                        <label for="pDe">Product Description</label>
                        <input type="text" name="pDe" class="form-control" id="pDe" required
                               pattern="^[а-яА-ЯёЁa-zA-Z0-9_ ]+$">
                        <label for="pUrl">Product URL</label>
                        <input type="text" name="pUrl" class="form-control" id="pUrl" required
                               pattern="^[а-яА-ЯёЁa-zA-Z0-9_ ]+$">


                        <input type="submit" value="Add" id="add" onclick="addProduct()">

                        <script type="module">
    document.querySelector('#add').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent form submission
        ClickAdd();
    });
</script>
                    </form>


                    <table>
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Brand</td>
                            <td>Type</td>
                            <td>Price</td>
                            <td>Quantity</td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr data-image="images/img1.jpg">
                            <td>PD01</td>
                            <td >Badminton Racket</td>
                            <td >Things</td>
                            <td >Bat</td>
                            <td>$120</td>
                            <td>1200</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="image-container">
                    <img id="display-image" src="" alt="Selected Image">
                </div>
    <!-- =========== Scripts =========  -->

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>