<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="assetsforstaff/css/style.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="shirt-outline"></ion-icon>
                        </span>
                        <span class="title">Dawa Sport</span>
                    </a>
                </li>

                <li>
                    <a href="/staff-main" th:href="@{/staff-main}">
                        <span class="icon">
                            <ion-icon name="bag-remove-outline"></ion-icon>
                        </span>
                        <span class="title">Product</span>
                    </a>
                </li>

                <li>
                    <a href="/staff-customer" th:href="@{/staff-customer}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Customers</span>
                    </a>
                </li>
                <li>
                    <a href="/login" th:href="@{/login}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

            </div>
            <!-- ======================= Cards ================== -->
            <div class="cardBox">

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Order</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">$7,842</div>
                        <div class="cardName">Earning</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">200</div>
                        <div class="cardName">Customer</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Product Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Product</h2>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Quantity</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-image="images/img1.jpg">
                            <td >Badminton Racket</td>
                            <td>$120</td>
                            <td>1200</td>
                        </tr>
                        <tr data-image="images/img2.jpg">
                            <td>Puma T-Shirt</td>
                            <td>$110</td>
                            <td>1200</td>
                        </tr>
                        <tr data-image="images/img3.jpg">
                            <td>Puma Shorts</td>
                            <td>$100</td>
                            <td>1200</td>
                        </tr>
                        <tr data-image="images/img4.jpg">
                            <td>Addidas Shoes</td>
                            <td>$120</td>
                            <td>1200</td>
                        </tr>
                        <tr data-image="images/img5.jpg">
                            <td>Nike Shoes</td>
                            <td>$200</td>
                            <td>1200</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="image-container">
                    <img id="display-image" src="" alt="Selected Image">
                </div>
    <!-- =========== Scripts =========  -->
    <script src="assetsforstaff/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>